<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="words.letters.alphabet.game.android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:label="app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:node="replace"
        tools:targetApi="n">

        <activity android:name="com.yandex.mobile.ads.common.AdActivity"
            android:enabled="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="true"/>
    </application>
 </manifest>